{
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:jsx-a11y/recommended"],
  "plugins": ["prettier", "jsx-a11y"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0,
    "indent": [0, "tab"],
    "no-unused-expressions": "warn",
    "no-useless-concat": "warn",
    "block-scoped-var": "warn",
    "consistent-return": "warn",
    "no-invalid-this": 0,
    "react/jsx-filename-extension": 0,
    "arrow-body-style": ["warn", "as-needed"],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  }
}
